<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1><%= heading %></h1>
  <ul>
    <% for(let i=0; i<items.length; i++) { %>
      <li><%= items[i] %></li>
    <% } %>
  </ul>
</body>
</html>